
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

nav {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: rgb(12, 12, 63);
    justify-content: space-between;
    align-items: center;

}

.container{
    display: flex;
}

.container h3{
    color: azure;
    padding:30px 0px 10px 0px;
}
nav ul{
    list-style-type: none;
    display: flex;
    
    
    
}
nav ul li {
    padding: 10px;
    
    
}
/*inicio*/

.imagen1{
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    
}

a {
    text-decoration: none;
    color: azure;
}

nav a{
    font-weight: 400px ;
    padding-right: 10px;
}
nav a:hover{
    color: gray;
}
.menu-icon img{
    filter: invert(100%);
    height: 40px;
    width: 50px;
    padding-right: 20px;
    display: none;
    
    
}
.imagen2{
    background-image:  url(../img/fondoAdmin2.jpg);
    background-size: auto;
    margin: auto;
    opacity: 50%;
    border: solid;
    
}


fieldset{
    display: grid;
    font-size:  2rem;
    color: white;
    text-shadow:black;
    background:linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12,0.75)), url(../img/fondoAdmin.jpg);
    background-size: cover;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "contactos mensaje"
                         "facebook mensaje"
                         "instagram mensaje"
                         "whatsapp mensaje";
    
}
.descripcionContacto {
    grid-area: contactos;
}

.descripcionContacto p{
    font-size:1.2ch;
    padding-right: 20px;
    
}
.facebook1{
    display: flex;
    grid-area: facebook;
}


.imagen3{
    height:50px;
    padding: 20px;
    filter: invert(100%);
}
.instagram1{
    display: flex;
    grid-area: instagram;
}

.imagen4{
    height: 50px;
    padding: 20px;
    padding-top: 25px;
    filter: invert(100%);
}
.whatsapp1{
    display: flex;
    grid-area: whatsapp;
}
.imagen5{
    height:50px;
    padding: 20px;
    filter: invert(100%);
}


form{
    grid-area: mensaje;
    display: grid;
    grid-template-rows: 100px 100px 100px 200px 50px;
    grid-template-areas:"zona1"
                        "zona2"
                        "zona3"
                        "zona4"
                        "zona5";
}
form label{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

form label input,textarea{
    background-color: transparent;
    color: white;

}

form label:nth-child(1){
    grid-area: zona1;
    
}
form label:nth-child(2){
    grid-area: zona2;
    
}
form label:nth-child(3){
    grid-area: zona3;
    
}
form textarea{
    grid-area: zona4;
}

form input:nth-child(5){
    grid-area: zona5;
}
form input:nth-child(2){
    grid-area: zona5;
}



footer{
    width: 100%;
    height: 80px;
    color: white;
    background-color: rgb(12, 12, 63);
    display:flex;
    justify-content: space-between;
    
}

footer p{
    padding-left: 20px;
    padding-top: 15px;
}

.redSocial {
    background-size: cover;
    display :flex;
    align-items: center;
    margin-right: 10px;
    padding-top: 10px;
    padding-right: 10px;
    flex-direction: row;
    justify-content: flex-end;
}
.redSocial img{
    display: flex;
    height: 30px;
    padding-right: 10px;
}

article{
    display:flex;
    flex-wrap: wrap;
}

.card{
    background-color: gray;
    color: aliceblue;
    width: 250px;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;

}
.card__img{
    width: 100%;
    border-radius: 5px;
}

.card__titulo{
    padding-left: 10px;
}

.card__descuento{
    padding-left: 10px;
}

.card__btn{
    width: 100%;
    
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    
}
.card__btn:hover{
    filter: invert(100%);
}
.Quien {
    font-size: 50px;
    color: white;
    background:linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12,0.75)), url(../img/fondoAdmin.jpg);
    background-size: 100%;
    padding: 150px 70px 150px 70px;
    text-shadow: 0 0 0.8px;
}

section{
    display: flex;
    flex-wrap: wrap;
}
@media(max-width: 700px){
    
    .menu-icon{
        display: block;
        /*position: fixed*/
        top: 20px;
        right: 20px;
        
    }
    .menu-icon img{
        display:list-item;
    }
    nav ul{
        display: block;
        position:fixed;
        top: 0;
        right: -200%;
        background: #222;
        width: 40%;
        height: 100vh;
        transition: 0.3s;
        

    }
    nav ul li{
        padding: 1rem;
        display: end;
        justify-content:end;
        margin: 0;
    }
    nav ul li:nth-child{
        background: none;
        padding: 1/2rem;
    }

    .menu-icon:hover + ul{
        right: 0;
    }
    /**/
    nav ul:hover{
        right: 0;
    }
    fieldset{
        display: grid;
        font-size:  2rem;
        color: white;
        text-shadow:black;
        background:linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12,0.75)), url(../img/fondoAdmin.jpg);
        background-size: cover;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "contacto"
                             "facebook "
                             "instagram "
                             "whatsapp "
                             "mensaje";
        
    }
    .descripcionContacto {
        grid-area: contacto;

    }
    .descripcionContacto h3{
        text-align: center;
    }
    
    .descripcionContacto p{
        font-size:1.2ch;
        
    }
    .facebook1{
        grid-area: facebook;
        
    }
    
    
    .imagen3{
        height:50px;
        padding: 20px;
        filter: invert(100%);
    }
    .instagram1{
        grid-area: instagram;
    }
    
    .imagen4{
        height: 50px;
        padding: 20px;
        padding-top: 25px;
        filter: invert(100%);
    }
    .whatsapp1{
        grid-area: whatsapp;
    }
    .imagen5{
        height:50px;
        padding: 20px;
        filter: invert(100%);
    }
    
    
    form{
        grid-area: mensaje;
        display: grid;
        grid-template-rows: 80px 80px 80px 180px 50px;
        grid-template-areas:"zona1"
                            "zona2"
                            "zona3"
                            "zona4"
                            "zona5";
    }
    form label{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    form label input,textarea{
        background-color: transparent;
        color: white;
    
    }
    
    form label:nth-child(1){
        grid-area: zona1;
        
    }
    form label:nth-child(2){
        grid-area: zona2;
        
    }
    form label:nth-child(3){
        grid-area: zona3;
        
    }
    form textarea{
        grid-area: zona4;
    }
    
    form input:nth-child(5){
        grid-area: zona5;
    }
    form input:nth-child(2){
        grid-area: zona5;
    }
    
    footer{
        width: 100%;
        height: 150px;
        color: white;
        background-color: rgb(12, 12, 63);
        align-items: center;
        display:flex;
        flex-direction: column;
        padding-top: 0px;
        
    }

    footer p{
        padding-left: 0px;
        text-align: center;
    }
    
    .redSocial {
        background-size: cover;
        display :flex;
        align-items: center;
        flex-direction: row;
        padding-top: 0px;
    }
    .redSocial img{
        display:flex;
        height: 30px;
        align-items: center;
    }
}